<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dev/DDD
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /public/index.php$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|img|robots\.txt|css|js|font|resume|human\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>